@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

header {
    background-color: rgb(192, 192, 192);
    height: 100px;
}

header a {
    text-decoration: none;
    color: #000000;
    margin-top: 37.5px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: right;
}

header img {
    height: 100px;
    margin-left: 20px;
    position: absolute;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    margin-left: 72%;
    height: 100px;
    width: 25%;
}

button {
    text-decoration: none;
    background-color: rgb(155, 42, 42);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor:pointer;
}

button:hover {
    background-color: rgb(105, 42, 42);
    color: rgb(255, 255, 255);
}

.hero-image {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./Te Puia Resources/20240626_111235.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
}

.hero-text {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 140px;
    font-size: 100px;
    width: 100%;
}

#what {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 70px;
    font-family: Edu VIC WA NT Beginner;
    text-decoration: underline;
    background-color:rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 600px;
    margin-top: 30px;
    margin: auto;
    gap: 45px;
}

.image img {
    width: 100%;
    border-radius: 20px;
}

.info-text {
   text-align: center;
   padding-top: 22%;
}