@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

/* First section styles header, nav and buttons for all pages. */

header {
    background-color: rgb(192, 192, 192);
    height: 100px;
}

header a {
    text-decoration: none;
    color: #000000;
    margin-top: 37.5px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: right;
}

header img {
    height: 100px;
    margin-left: 20px;
    position: absolute;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: right;
    margin-left: 48%;
    height: 100px;
    width: 50%;
}

button {
    text-decoration: none;
    background-color: rgb(155, 42, 42);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(105, 42, 42);
    color: rgb(255, 255, 255);
}

/* Next section styles hero sections on all pages */

.hero-image {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./Te Puia Resources/20240626_111235.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
}

.hero-image2 {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./Te\ Puia\ Resources/20240626_111926.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
}

.hero-image3 {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./Te\ Puia\ Resources/20240626_101437.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
}

.hero-image4 {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./Te\ Puia\ Resources/20240626_101049.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
}

.hero-image5 {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./Te\ Puia\ Resources/20240626_112129.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px;
}

.hero-text {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 140px;
    font-size: 100px;
    width: 100%;
}

#what {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 70px;
    font-family: Edu VIC WA NT Beginner;
    text-decoration: underline;
    background-color:rgb(238, 238, 238);
    color: rgb(155, 42, 42);
}

/* Next section is for page layout and organising including columns and text styling. */

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 600px;
    margin-top: 30px;
    margin: auto;
    gap: 45px;
}

.two-column-geyser-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 600px;
    margin-top: 30px;
    margin: auto;
    gap: 45px;
    margin-bottom: 300px;
}
.two-column-geyser-bottom .image2 #tall{
    height: 750px;
}

.image img {
    width: 100%;
    border-radius: 20px;
}

.blurb {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   padding-top: 22%;
}

.section-titles {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    background-color: rgb(238, 238, 238);
    color: rgb(155, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 600px;
    text-align: center;
    gap: 20px;
    margin: 20px
}

.image2 img {
    height: 600px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
}

p {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-text1 {
    font-size: 20px;
}

.info-text2 {
    font-size: 26px;
}

.info-text {
    font-size: 22px;
}

/* Lastly, the final section styles the contact page and contact info/footer sections */

#contact-info {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(155, 42, 42);
    background-color: rgb(238, 238, 238);
    margin-top: 20px;
    padding: 20px;
}

#contact-info span {
    text-decoration: underline;
    color: blue;
}

#footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(155, 42, 42);
    background-color: rgb(238, 238, 238);
    margin-top: 50px;
    padding: 20px;
}

#footer p {
    background-color: rgb(192, 192, 192);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

#footer span {
    text-decoration: underline;
    color: blue;
}

#footer h3 {
    color: black;
    font-size: 20px;
}